<div>
    <md-card>
        <md-card-content>
            <h2>Technical Skills</h2>
            <ul>
                <li><b>Languages:</b> &nbsp;Java, C, C++, Python</li>
                <li><b>Scripting & Web:</b> &nbsp;HTML, CSS, JavaScript, SQL</li>
                <li><b>Frameworks:</b> &nbsp;AngularJS, Spring,	Maven, Bootstrap, ExtJS, JUnit, Protractor, Grunt</li>
                <li><b>Tools:</b> &nbsp;IntelliJ IDE, Subversion, Git</li>
                <li><b>Others:</b> &nbsp;SOA, Android</li>
            </ul>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h2>Honors and Awards</h2>
            <b>Technical</b> <br/>
            <ul>
                <li>1st prize in Code Golf (to write shortest code possible) in GS (global) in Java </li>
                <li>1st prize in Code Golf in GS in C++</li>
                <li>1st prize in event ‘Software Design’ in National Level Technical Fest Avishkar’10 at MNNIT-Allahabad, India.</li>
                <li>2nd prize in event ‘Website Hosting and Design’ in Avishkar’10.</li>
                <li>3rd prize in event ‘Java - Cafe’ in Avishkar‘10. – A Java programming event.</li>
                <li>Consolation prize in event ‘Logical Rhythm’ at Avishkar‘09. – A Unix programming event.</li>
                <li>Got Merit in Mathematics and Social Science in Indian Certificate of Secondary Education. Among 0.0001% student in India.</li>
            </ul>
            <b>Co-curricular Activities</b> <br/>
            <ul>
                <li>1st prize in Puzzle Solving event at National level Technical Fest Avishkar‘10.</li>
                <li>2nd prize in Online Puzzle Solving event at Avishkar‘10.</li>
                <li>Won Folk Dance competition on 3 occasions (2009, 2010, 2011) in the college’s cultural festival.</li>
                <li>Coordinated many events in college and industry in both Technical and cultural fests.</li>
            </ul>
        </md-card-content>
    </md-card>
</div>
