<div>
    <md-card>
        <md-card-content>
            <h2>University of Wisconsin-Madison</h2>
            Masters in Computer Sciences - First year grad <br/>
            December 2016 (Expected)<br/>
            <br/>
            Courses - First Sem
            <ul>
                <li>Artificial Intelligence</li>
                <li>Data Models and Languages</li>
                <li>Data Science</li>
            </ul>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h2>Motilal Nehru National Institute of technology, Allahabad</h2>
            Bachelor of Technology in Computer Science and Engineering<br/>
            Grade 8.99/10<br/>
            May 2012<br/>
            <br/>
            Key Coursework <br>
            <ul>
                <li>Algorithms</li>
                <li>Data Structures</li>
                <li>Computer Networks</li>
                <li>Operating Systems</li>
                <li>Database Management Systems</li>
                <li>Object Oriented Paradigm</li>
                <li>Software Project Management</li>
                <li>Distributed Systems</li>
                <li>Formal Methods</li>
            </ul>
            <b>Projects</b>
            <ul>
                <li>Research on the IPv6 communication protocol and its transition mechanism from IPv4</li>
            </ul>
            It involved understanding and practical implementation of transition technologies such as Dual Stack, Tunnelling and NAT–PT to deploy IPv6 in the exiting IPv4 environment without much changes to current topology.
        </md-card-content>
    </md-card>
</div>
