<div>
    <md-content class="md-padding">

        <md-card>
            <md-card-content>
                <h2>University of Wisconsin-Madison</h2>
                <p>Masters in Computer Sciences - First year grad</p>
                <p>September 2015 - Present</p>
                <p><b>Subjects (Semester I)</b> <br>
                <ul>
                <li>Artificial Intelligence</li>
                <li>Data Models and Languages</li>
                <li>Data Science</li>
            </ul></p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button ng-click="goto('wisc')">Website</md-button>
            </div>
        </md-card>
        <br/>
        <md-card>
            <md-card-content>
                <h2>Motilal Nehru National Institute of technology, Allahabad</h2>
                <p>Bachelor of Technology in Computer Science and Engineering</p>
                <p>Grade 8.99/10</p>
                <p>July 2008 - May 2012</p>
                <p><b>Key Coursework</b> <br>
                <ul>
                    <li>Algorithms</li>
                    <li>Data Structures</li>
                    <li>Computer Networks</li>
                    <li>Operating Systems</li>
                    <li>Database Management Systems</li>
                    <li>Object Oriented Paradigm</li>
                    <li>Software Project Management</li>
                    <li>Distributed Systems</li>
                    <li>Formal Methods</li>
                </ul>
                <b>Projects</b>
                <ul>
                    <li>Research on the IPv6 communication protocol and its transition mechanism from IPv4</li>
                </ul>
                It involved understanding and practical implementation of transition technologies such as Dual Stack, Tunnelling and NAT–PT to deploy IPv6 in the exiting IPv4 environment without much changes to current topology.
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button ng-click="goto('mnnit')">Website</md-button>
            </div>
        </md-card>
        <br/>
        <md-card>
            <md-card-content>
                <h2>International Institute of Information Technology, Hyderabad</h2>
                <p>Research Assistantship</p>
                <p>May 2010 - July 2010</p>
                <p>Area : Natural Language Processing</p>
                <ul>
                    <li>Enhancement of Natural Language Processing based software called Sanchay.</li>
                </ul>
                The project involved incorporation of common Java API for various data formats like SSF, CoNLL, LTAGSpinal format in Sanchay software at the Asia’s Largest Language Technologies Research Centre in International Institute of Information Technology, Hyderabad (IIIT-H). Sanchay primarily deals with South Asian Languages.
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button ng-click="goto('iiit')">Website</md-button>
            </div>
        </md-card>
    </md-content>
</div>
