<div>
    <md-card>
        <md-card-content>
            <h2>Goldman Sachs, Bangalore, India</h2>
            <b>Technology Analyst Developer</b>, &nbsp;June 2012 - July 2015<br/>
            <ul>
                <li>Worked as an individual contributor to the end to end web application development on SOA architecture.</li>
                <li>Contributed to the open source Java Collections library (GS-Collectios) and in-house MVC framework (GS-GLUI).</li>
                <li>Worked as a mobile application developer for multiple Android Applications.</li>
                <li>Experience with performance engineering involving the JEE platform and RDBMS systems.
                    This includes profiling Java code and tuning sqls.</li>
                <li>Designed the scaffolding and communication paradigm from scratch for a web application developed on a new stack.</li>
                <li>Emerged as a SPOC for technologies such as Java, Angular JS, Android in the team.</li>
                <li>Introduced and worked on new tools and frameworks for Javascript task management and end to end testing. (Grunt and Protractor)</li>
                <li>Regular speaker at Tech Net sessions organized and run by our BU head.</li>
                <li>Regular speaker at NIC-India technical training session, organized for fresh hires.</li>
            </ul></p>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h2>Cisco Systems, Bangalore, India</h2>
            <b>Summer Intern</b>, &nbsp;May 2011 - July 2011
            <ul>
                <li>Worked on the study and analysis of IPv6 addresses and understanding the Cisco IOS parser. It aimed to
                    build an automated IPv6-Tool for conversion of IPv4 IOS configuration into equivalent IPv6 configuration.
                    It involved the full GUI and backend implementation of the module. </li>
            </ul>
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h2>International Institute of Information Technology, Hyderabad</h2>
            <b>Research Intern</b>, &nbsp; May 2010 - July 2010<br/>
            Area : Natural Language Processing
            <ul>
                <li>Worked on the various aspects of Natural Language Processing and its application in the Language Processing of South Asian languages. Working in the largest academic centre of speech and language technology in South Asia, I worked on the research and development of the software called Sanchay. The project involved incorporation of Java APIs for various data formats like SSF, CoNLL, LTAGSpinal format in Sanchay.
                </li>
            </ul>
        </md-card-content>
    </md-card>
</div>
