<div>
    <md-content class="md-padding">

        <md-card>
            <md-card-content>
                <h2>Goldman Sachs, Bangalore</h2>
                <p>Programmer Analyst II</p>
                <p>June 2012 - July 2015</p>
                <ul>
                    <li>Worked as an individual contributor to the end to end web application development on SOA architecture.</li>
                    <li>Contribution to open source Java Collections library (GS-Collectios) and in-house MVC framework (GS-GLUI).</li>
                    <li>Worked as a mobile application developer for multiple Android Applications.</li>
                    <li>Experience with performance engineering involving the JEE platform and RDBMS systems.
                        This includes profiling Java code and tuning sqls.</li>
                    <li>Designed the scaffolding and communication paradigm from scratch for a web application developed on a new stack.</li>
                    <li>Emerged as a SPOC for technologies such as Java, Angular JS, Android in the team.</li>
                    <li>Introduced and worked on new tools and frameworks for Javascript task management and end to end testing. (Grunt and Protractor)</li>
                    <li>Regular speaker at Tech Net sessions organized and run by our BU head.</li>
                    <li>Regular speaker at NIC-India technical training session, organized for fresh hires.</li>
                </ul></p>
            </md-card-content>
        </md-card>
        <br/>
        <md-card>
            <md-card-content>
                <h2>Cisco Systems, Bangalore</h2>
                <p>Internship</p>
                <p>May 2011 - July 2011</p>
                <ul>
                    <li>To build an automated IPv6-Tool for conversion of IPv4 IOS configuration into equivalent IPv6 configuration.</li>
                </ul>
            </md-card-content>
        </md-card>
    </md-content>
</div>
