
<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
    <md-list>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout-align="center center" layout="column">
                <h1>Ali Hussain Hitawala</h1>
                <h3>University of Wisconsin-Madison</h3>
                <p>Computer Sciences Grad - First Year</p>
                <md-button class="md-primary md-raised" ng-click=" showAdvanced($event)" flex flex-md="100">
                    Contact Card
                </md-button>
            </div>
        </md-list-item>
    </md-list>
</md-whiteframe><md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
    <md-list>
        <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout-align="center center" layout="column">
                <h2>Past</h2>
                <h3>Goldman Sachs</h3>
                <p>Programmer Analyst II</p>
                <p>June 2012 - July 2015</p>
                <hr>

                <h3>Cisco Systems</h3>
                <p>Intern</p>
                <p>May 2011 - July 2011</p>
                <hr>

                <h3>Motilal Nehru National Institute of Technology</h3>
                <p>BTech. Computer Science and Engineering</p>
                <p>Grade 8.99/10</p>
                <p>July 2008 - May 2012</p>
                <hr>

                <h3>International Institute Information Technology, Hyderabad</h3>
                <p>Research Assistantship</p>
                <p>May 2010 - July 2010</p>
            </div>
        </md-list-item>
    </md-list>
</md-whiteframe>
