<div>
    <md-card>
        <md-card-content>
            <h2>Android application development</h2>
            <b>Money Pal <md-button md-no-ink class="md-primary" ng-click="goto('playStore-money')"> Google Play Store</md-button></b>
            <p>December 2013</p>
            My first stint with Android application development. Developed in a very short span of time. This app manages the transactions between your friends.
        </md-card-content>
    </md-card>
    <md-card>
        <md-card-content>
            <h2>Registration portal for training and placement cell</h2>
            <p>September 2011</p>
            <ul>
                <li>As a student representative from Computer Science Department to college’s Training and placement cell, developed a Registration Portal
                    for the students to register themselves for the company, given their credentials and company's requirement.</li>
            </ul>
        </md-card-content>
    </md-card>
</div>
