<div>
    <md-card>
        <md-card-content>
            <ul>
                <li><b>Languages:</b> &nbsp;Java, C, C++, Python</li>
                <li><b>Scripting & Web:</b> &nbsp;HTML, CSS, JavaScript, SQL</li>
                <li><b>Frameworks:</b> &nbsp;AngularJS, Spring,	Maven, Bootstrap, ExtJS, JUnit, Protractor, Grunt</li>
                <li><b>Tools:</b> &nbsp;IntelliJ IDE, Subversion, Git</li>
                <li><b>Others:</b> &nbsp;SOA, Android</li>
            </ul>
        </md-card-content>
    </md-card>
</div>
